<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<div id='map' style='width: 100%; height: 100%;'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZ2VsdXNvIiwiYSI6ImNpcWtqb2R5ZjAwMDI1cWt2cjl6amptbmcifQ.2OAw9oY9Bnd2IFA7-LVwYw';
var center = [47.6418751, -122.3479289];
var zoom = 10;
var horzBounds = .25;
var vertBounds = .12;

var southWest = L.latLng(center[0] - vertBounds, center[1] - horzBounds),
    northEast = L.latLng(center[0] + vertBounds, center[1] + horzBounds),
    bounds = L.latLngBounds(southWest, northEast);

var map = L.mapbox.map('map', 'mapbox.streets', {
  maxBounds: bounds,
  maxZoom: 19,
  minZoom: 11
})
.setView([center[0], center[1]], zoom);

var offset = .00025;
var imageUrl = 'pokemedia/images/sprites/front/143.png';
var southWest = [fremont_troll[0] - offset / 2, fremont_troll[1] - offset];
var northEast = [fremont_troll[0] + offset / 2, fremont_troll[1] + offset];
imageBounds = [southWest, northEast];
L.imageOverlay(imageUrl, imageBounds).addTo(map);

</script>
