<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>

<div id='map' style='width: 100%; height: 100%;'></div>

<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZ2VsdXNvIiwiYSI6ImNpcWtqb2R5ZjAwMDI1cWt2cjl6amptbmcifQ.2OAw9oY9Bnd2IFA7-LVwYw';
var center = [47.6418751, -122.3479289];
var zoom = 10;
var horzBounds = .25;
var vertBounds = .12;

var southWest = L.latLng(center[0] - vertBounds, center[1] - horzBounds),
    northEast = L.latLng(center[0] + vertBounds, center[1] + horzBounds),
    bounds = L.latLngBounds(southWest, northEast);

var map = L.mapbox.map('map', 'mapbox.streets', {
  maxBounds: bounds,
  maxZoom: 19,
  minZoom: 11
})
.setView([center[0], center[1]], zoom);

var offset = .00025;
if (LARGE_POKEMON) {
  offset = .01;
}
var imageUrl = 'pokemedia/images/sprites/front/143.png';
var southWest = [fremont_troll[0] - offset / 2, fremont_troll[1] - offset];
var northEast = [fremont_troll[0] + offset / 2, fremont_troll[1] + offset];
imageBounds = [southWest, northEast];
L.imageOverlay(imageUrl, imageBounds).addTo(map);

function createPokemon(n, loc) {
  var imageUrl = 'pokemedia/images/sprites/front/' + n + '.png';
  var southWest = [loc[0] - offset / 2, loc[1] - offset];
  var northEast = [loc[0] + offset / 2, loc[1] + offset];
  imageBounds = [southWest, northEast];
  L.imageOverlay(imageUrl, imageBounds).addTo(map);
}

var spawnVertBounds = .12;
var spawnHorzBounds = .12;
function randVert() {
  return randRange(center[0] - spawnVertBounds, center[0] + spawnVertBounds);
}

function randHorz() {
  return randRange(center[1] - spawnHorzBounds + .03, center[1] + spawnHorzBounds);
}

function randRange(max, min) {
  var n = min + (max - min) * Math.random();
  return n;
}

Math.seedrandom("POKESEATTLE");
for (var i = 1; i <= 151; i++) {
  var loc = [randVert(), randHorz()];
  createPokemon(i, loc);
}

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(pos) {
    var lat = pos.coords.latitude;
    var long = pos.coords.longitude;
    var radius = 100;
    console.log("lat long", lat, long);
    marker = L.circle([lat, long], radius).addTo(map);
  });
} else {
    console.log("no GPS");
}

</script>
